* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header img.logo{
  width: 195px;
}

.header .search{
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}

.header .search img{
  padding-right: 8px;
}

.header .search input{
  border: 1px #ccc solid;
  border-radius: 4px;
}

nav{
  background-color: #389cd7;
  height: 48px;
  display: flex;
  justify-content: center;
}

nav ul{
  color: #fff;
  display: flex;
  align-items: center;
  height: 48px;
}

nav ul li{
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li span{
  display: inline-block;
  padding-right: 10px;
}

nav ul li i.arrow{
  border: solid #fff;
  border-radius: 2px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.banner-hero img{
  width: 100%;
}

section{
  padding: 80px 40px 0;
  display: flex;
  justify-content: center;
}

section .content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.first-section .content .text{
  max-width: 530px;
}

section.second-section .content .text{
  max-width: 720px;
}

section .content .text h2{
  padding-bottom: 20px;
  color: #3b9bd3;
  font-weight: bold;
  font-size: 39px;
}

section .content .text p{
  padding-top: 20px;
  color: #767270;
  font-size: 20px;
}

section .content img{
  padding-top: 20px;
}

section .cards {
  display: flex;
  padding-top: 60px;
}

section .cards .card {
  border-radius: 16px;
  box-shadow: 0px 3px 16px #00000014;
  max-width: 356px;
  margin-left: 33px;
}

section .cards .first-card {
  margin-left: 0;
}

section .cards .card img {
  padding: 0;
}

section .cards .card p {
  margin: 22px;
  margin-bottom: 32px;
  color: #767270;
  font-size: 20px;
}

section .cards .card .card-footer {
  height: 74px;
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .cards .first-card .card-footer {
  background-color: #389CD6;
}

section .cards .second-card .card-footer {
  background-color: #309D5F;
}

section .cards .third-card .card-footer {
  background-color: #EE6381;
}

section .cards .card .card-footer span {
  color: #fff;
  font-size: 25px;
}